.services-section{
    min-height: 40vh;
    width: 80vw;
    
    display: flex;
    flex-direction: column;
    gap:15px;
}
.figure-servici-home{
    min-height: 350px;
    width: 80vw;
    border: 1px solid orange;
    background-color:#014e97;
    display:flex;
    flex-direction: column;
    border-radius: 10px 40px;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding:35px;
}
.div-figure-img-tittle{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
   
}
.div-figure-img-tittle img{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    /* border:1px solid black; */
}
   
    

.div-figure-info{
    width: 60%;
    color:whitesmoke;
}
.div-figure-info h2{
    font-weight:bold;
}

.img-flecha{
    height:50px;
    width: 50px;
    background-color:#6482c6;
    border-radius: 50%;
    padding:10px;
   
}
.img-flecha:hover{
    background-color: orange;
    
}