.services-section{
    min-height: 40vh;
    width: 80vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:55px;
}
.figure-servici-home{
    min-height: 350px;
    width: 80%;
    border: 1px solid orange;
    background-color:#014e97;
    display:flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding:35px;
}
.div-figure-left figure{
    border-radius: 10px 40px;
}
.div-figure-right figure{
    border-radius: 40px 10px;
}
.div-figure-left figure:hover{
    transform: scale(1.005);
    border: 5px solid orange;
    -webkit-box-shadow: 17px 20px 20px -5px rgba(255,155,46,0.75);
-moz-box-shadow: 17px 20px 20px -5px rgba(255,155,46,0.75);
box-shadow: 17px 20px 20px -5px rgba(255,155,46,0.75);
}
.div-figure-right figure:hover{
    transform: scale(1.005);
    border: 5px solid orange;
    -webkit-box-shadow: -20px 20px 20px -5px rgba(255,155,46,0.75);
-moz-box-shadow: -20px 20px 20px -5px rgba(255,155,46,0.75);
box-shadow: -20px 20px 20px -5px rgba(255,155,46,0.75);
}
.div-figure-left{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-start;
}
.div-figure-right{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: flex-end;
}

.div-figure-img-tittle{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   
    
   
}
.div-figure-img-tittle img{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    /* border:1px solid black; */
}
   
    

.div-figure-info{
    width: 60%;
    color:whitesmoke;
}
.div-figure-info h2{
    font-weight:bold;
}

.img-info-figure, .img-info-figure-back{
    height:50px;
    width: 50px;
    background-color:whitesmoke;
    border-radius: 50%;
    padding:10px;

}
.img-info-figure:hover {
    background-color: greenyellow;
}
.img-info-figure-back:hover{
    background-color: crimson;
}
.img-flecha{
    height: 50px;
    width: 50px;
    border-radius:50%;
    padding:10px;
    background-color: #014e97;
}

.div-muestra-servicis{
    height: 75px;
    width: 80%;
    margin:20px;
    background: rgb(1,78,151);
    background: linear-gradient(180deg, rgba(1,78,151,1) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.div-muestra-servicis:hover img{

        transform: scale(1.1)
    
}