.section-home-autismo{
    width: 100vw;
    min-height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;


}
.div-all-servicesAutismo{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-start;
    gap:15px;
    margin: 20px;
    width: 90%;
    }
.div-service-autismo{
    min-height: 500px;
    width: 340px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    color:var(--primary-black);
    background-color: var(--primary-white);
    margin: 4px;
    -webkit-box-shadow: 3px 0px 46px -23px rgba(45,45,45,1);
    -moz-box-shadow: 3px 0px 46px -23px rgba(45,45,45,1);
    box-shadow: 3px 0px 46px -23px rgba(45,45,45,1);
}
.div-info-autismo{
    display:flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100vw;
    background-color: var(--primary-blue);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-info-autismo h1{
    color:var(--primary-white);
    font-size: 100px;
    font-weight:thin;
    align-content: center;
    
    
}
.h2-info-autimos-centre-especific{
  width: 100%;
  text-align: center; 
  letter-spacing: 15px;
  font-weight: bold; 
  font-size: 30px; 
  color: var(--light-pastel-blue); 
  text-shadow: 0px 0px 15px var(--pastel-blue);
  margin:5px 0;
}
.h2-info-autisme-strong{
  font-size:50px;
}

/* INICIO SECCION AUTISMO DIV */

.container {
    display:flex;
    flex-wrap: wrap;
    background-color: var(--primary-blue);
    color:var(--primary-white);
    text-transform: uppercase;
    font-size:50px;
    font-weight:bold;
    padding-top:200px;  
    text-align: center;
    bottom:45%;
    display:block;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
  }
  
  .flip {
    height:50px;
    overflow:hidden;
  }
  
  .flip > div > div {
    display:flex;
    color:#fff;
    padding:4px 12px;
    height:55px;
    margin-bottom:45px;
    display:inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .flip div:first-child {
    animation: show 8s linear infinite;
  }
  
  .flip div div {
    background:var(--primary-black);
  }
  .flip div:first-child div {
    background:var(--primary-green);
  }
  .flip div:last-child div {
    background:var(--primary-orange);
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  


/* FIN SECCION AUTISMO DIV */
.div-description-service-autismo{
  display: flex;
  justify-content:center;
  align-items:center;

  padding: 6px;
  background-color: var(--primary-blue);
}
.div-description-service-autismo p{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  


}
@media screen and (width<1000px){
  .div-all-servicesAutismo{
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.div-service-autismo{
  width: 80vw;
  align-items: center;
}
}
@media screen and (width<768px){

.div-info-autismo{
   height:400px;
   width:100%;
   text-align: center;

}
.h2-info-autimos-centre-especific{
  letter-spacing: 4px;
}

}