.div-figure-info{
    width: 100%;
    align-items: first baseline;
    color:#2d2d2d;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.figure-service-home{
    display: flex;
    flex-direction: column;
}
.img-info-figure-acordeon-rot{
    animation: rotationDown 1s forwards  ;
}

@keyframes rotationDown{
    0%{
        transform: rotateZ(0deg)
    }
    100%{
        transform: rotateZ(90deg);
    }
}