.div-section-autismo{
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
margin: 4px;
}

.div-section-autismo h3 {
margin:3px;
padding:3px;

}

.div-section-autismo p {
 margin:4px;
 padding:4px;

}




.btn-section-autismo{
    height: 100px;
    width: 80px;
    font-size:15px;
    font-weight:bold;
    color:var(--primary-white);
    background-color: var(--primary-blue);
    border-radius: 15px;
    border: 1px solid #014e97;
    margin-top:50px;
}
.btn-section-autismo:hover{
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 30px 1px #014e97;
    -moz-box-shadow: 0px 0px 30px 1px #014e97;
    box-shadow: 0px 0px 30px 1px #014e97;
}