.section-title-main-page{
    width: 100vw;
    min-height: 35vh;
    background-color: var(--light-pastel-green);
    border-bottom:5px solid var(--pastel-green);
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-top:15px;
    background-size: contain;
    background-attachment:scroll;
    background-position: 50%;
}
.section-title-main-page-serveis{
    background-color: var(--light-pastel-blue);
    border-bottom:5px solid var(--pastel-blue);
}
.title-page{
    font-size: 160px;
    font-family: 'Shadows Into Light', cursive;
    font-weight:100;
    color:var(--primary-green);
}
.title-page-serveis{
    font-size: 160px;
    font-family: 'Shadows Into Light', cursive;
    font-weight:100;
    color:var(--primary-blue);
}

.title-page, .title-page-serveis{
   
        text-shadow: -1px -1px 0 var(--primary-white),  
                      1px -1px 0 var(--primary-white),
                     -1px  1px 0 var(--primary-white),
                      1px  1px 0 var(--primary-white); 
}


.section-description-main-page{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    min-height: 30vh;
    background-color: var(--primary-white);
}
.section-description-main-page p{
font-size: 24px;
font-weight: 600;
}

.section-all-pages-main-page{
    width: 80vw;
    min-height: 60vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-individual-page-info{
    width: 95vw;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.div-individual-page-info{
    width: 95vw;
    min-height: 400px;
    display: flex;
    background-color: var(--light-pastel-green);
    align-items: center;
    justify-content: space-evenly;
    gap:50px;
    position:relative;
}
.div-individual-page-info-serveis{
    background-color: var(--primary-blue);
}
.div-h3-logo-individual-page{
    width: 95vw;
    min-height: 100px;
    justify-content: center;
    display:flex;
    align-items: center;
    background-color: var(--light-pastel-green);
    /* border:2px solid var(--primary-green); */
    color:var(--primary-black);
}
.div-h3-logo-individual-page-serveis{
    background-color: var(--light-pastel-blue);
    border:2px solid var(--primary-blue);
    color:var(--primary-black);
}
.h3-individual-page-info{
    width: 60%;
    letter-spacing: 5px;
    text-transform: uppercase;
     font-family: 'Shadows Into Light', cursive;
font-size: 50px;
    color:var(--primary-green);
    text-shadow: -1px -1px 0 var(--primary-black),-1px  1px 0 var(--primary-black),1px  1px 0 var(--primary-black); 
    letter-spacing: 5px; 
}
.h3-individual-page-info-serveis{
    color:var(--primary-blue);
}
.img-individual-page-icon{
    width: 95px;
    height: 80px;
    margin-left:75px;
}
.p-idividual-page-info{
    font-size:20px;
    font-weight: 300;
    margin:30px 0 0 50px;
    width: 50%;
    min-height: 400px;
    padding: 15px 15px 40px 15px;
    color: var(--primary-black);
    line-height: 40px;
}
.p-idividual-page-info-serveis{
    color:var(--primary-black);
    font-size: 18px;
    font-weight: 300;

}
.div-individual-page-divider{
    margin:10px 0;
    width: 1px;
    min-height: 400px;
    background-color:var(--light-pastel-blue);
}
.img-individual-page-info{
    padding:20px;
    width: 400px;
    height: 400px;
}
.btn-individual-page-autisme{
    width: 400px;
    height: 60px;
    border:1px solid var(--primary-green);
    background-color: var(--light-pastel-green);
    color:var(--primary-green);
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    margin-top:20px;
}
/* .btn-individual-page-serveis{
    border:1px solid var(--pastel-green);
    background-color: var(--primary-green);
    color:var(--primary-black);
} */
.btn-individual-page-autisme:hover{
    transform: scale(1.05);
    border:2px solid var(--primary-green);
}
.btn-individual-page{
    width: 400px;
    height: 60px;
    border:1px solid var(--primary-blue);
    background-color: var(--light-pastel-blue);
    color:var(--primary-blue);
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    margin-top:20px;
}
/* .btn-individual-page-serveis{
    border:1px solid var(--pastel-green);
    background-color: var(--primary-green);
    color:var(--primary-black);
} */
.btn-individual-page:hover{
    transform: scale(1.05);
    border:2px solid var(--primary-blue);
}

@media screen and (width<992px){
    .p-idividual-page-info{
        margin:15px 0 0 25px;
        line-height: 30px;
    }
    .img-individual-page-info{
        padding:20px;
        width: 300px;
        height: 250px;
    }
}
@media screen and (width<768px){
    .div-individual-page-info{
        flex-direction: column;
        gap:20px;
    }
    .p-idividual-page-info{
        margin:30px 15px;
        padding:0;
        width: 80vw;
        min-height: 100px;
    }
    .div-individual-page-divider{
        margin:10px 0;
        width: 80%;
        min-height: 0;
        height: 1px;
        background-color:var(--light-pastel-blue);
    }
}
@media screen and (width<601px){
    .section-title-main-page{
        min-height: 25vh;
    }
    .title-page, .title-page-serveis{
        font-size: 100px;
    }

    .h3-individual-page-info{
        font-size: 30px;

    }
    .div-h3-logo-individual-page{
        width: 95vw;
        justify-content: space-between;
        padding:0 10px;
    }
    .img-individual-page-icon{
        width: 75px;
        height: 60px;
        margin-left:0;
    }
    .btn-individual-page{
        width: 250px;
        height: 60px;

    }
}