.menu-nav-burger{
    display:none;

}
.logo-menu-burger{
    width: 50px;
    height: 50px;
    filter:invert();
}
.div-menu-burger{
    min-height: 85vh;
    width: 100vw;
    background-color: var(--primary-blue);
    position:absolute;
    top:100%;
    left:0;
    z-index:10;
    display: flex;
    justify-content: center;
}
.ul-main-menu-burger{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    width: 90%;
    border-top: 1px solid var(--light-pastel-blue);
}
.div-logos-menu-burger{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.div-menu-burger a{
    color:var(--primary-white)
}
.li-menu-burger{
    min-height: 75px;
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding:10px 5px;
    border-bottom: 1px solid var(--light-pastel-blue);
    transition: all 0.5s ease-in-out;
}
.div-title-icon-display{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.div-r-icon-space{
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.div-r-icon-space svg{
    width: 30px;
    height: 30px;
}
.li-menu-burger h3{
    height: 80px;
    width: 80%;

    color: var(--light-pastel-blue);
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.ul-menu-burger-hidden{
    display:flex;
    flex-direction: column;
    gap:10px;
    color:var(--primary-blue);
    width: 90%;
    min-height: 50px;
    padding:20px;

    border-radius:10px;
    transition: all 0.5s ease-in-out;
}
.ul-menu-burger-hidden a{
    color:var(--light-pastel-blue);
    font-weight: 800;
}
.li-menu-burger-hidden{
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-pastel-blue);

}





@media screen and (width<750px){
    .menu-nav-burger{
        min-height: 100%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 50px;

    }
}