.menu-nav-burger{
    display:none;

}
.logo-menu-burger{
    width: 50px;
    height: 50px;
    filter:invert();
}
.div-menu-burger{
    min-height: 85vh;
    width: 60vw;
    background-color: var(--primary-blue);
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    position:absolute;
    top:100%;
    left:0;
    z-index:10;
    display: flex;
    justify-content: center;
}
.ul-main-menu-burger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    width: 90%;
    gap:50px;
}
.div-logos-menu-burger{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.div-menu-burger a{
    color:var(--primary-white)
}
.li-menu-burger{
    min-height: 75px;
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.li-menu-burger h3{
    height: 80px;
    width: 100%;
    background-color: var(--light-pastel-blue);
    color: var(--primary-black);
    display: flex;
    align-items: center;
    border-radius:10px;
    justify-content: center;
}

.ul-menu-burger-hidden{
    display:flex;
    flex-direction: column;
    gap:10px;
    color:var(--primary-blue);
    background-color: white;
    width: 90%;
    min-height: 50px;
    padding:20px;
    background-color: var(--light-pastel-blue);
    border-radius:10px;
}
.ul-menu-burger-hidden a{
    color:var(--primary-blue);
}




@media screen and (width<750px){
    .menu-nav-burger{
        min-height: 100%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 50px;

    }
}