.div-acordeon-type-color{
    min-height: 300px;
    width: 80vw;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--pastel-blue);
    padding:50px 15px;
}

.div-wrapper-acordeon{
    width: 90%;
    overflow:hidden;
    border-bottom:2px solid var(--light-pastel-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-wrapper-acordeon-open{
    width: 90%;
    border-bottom:2px solid var(--light-pastel-blue);
    background-color: var(--light-pastel-blue);
    border-radius:20px;
    margin:10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.div-acordeon-question{
    height:70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.div-acordeon-question-open{
    background: rgb(216,218,255);
    background: linear-gradient(90deg, rgba(216,218,255,0) 0%, rgba(216,218,255,1) 50%, rgba(112,180,255,0) 100%);
}
.div-acordeon-question:hover{
    background: rgb(216,218,255);
    background: linear-gradient(90deg, rgba(216,218,255,0) 0%, rgba(216,218,255,1) 20%, rgba(112,180,255,0) 100%);
}
.div-acordeon-question-open{
    min-height:70px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.div-acordeon-content{
    width: 80%;

}