.team-section{
    min-height: 40vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:55px;
    overflow: hidden;
    padding:0 0 30px 0;
    background: rgb(255,215,163);
    background: linear-gradient(180deg, rgba(255,215,163,1) 0%, rgba(245,245,245,1) 95%);
}

/* .figure-treballador-second, .figure-treballador-last{
    opacity: 0.5;
} */

.div-tres-trabajadores{
    width: 80%;
    display:flex;
    gap:55px;
    padding:20px;
    overflow: scroll;
/*     background-image: url("https://res.cloudinary.com/dtfugozix/image/upload/v1702245497/Fem%20Cami/Imagenes/IMG-6610-2-1024x768_vgogqr.jpg");
 */
    background-color: transparent;
}
.div-tres-trabajadores::-webkit-scrollbar:vertical{
    display:none;
}
/* .div-tres-trabajadores::-webkit-scrollbar:horizontal{
    display:none;
} */
.div-tres-trabajadores::-webkit-scrollbar-thumb {
    background-color: #FF9B2E;
    border-radius:15px;
    height: 5px;
}

.div-tres-trabajadores::-webkit-scrollbar {
    background-color: #014e97;
    border-radius: 15px;
    height: 10px;
}

.figure-treballador{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:30px;
    background-color: #F5F5F5;

    padding:30px 5px 0px 5px;
    border-radius:20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(1,78,151,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(1,78,151,1);
    box-shadow: 0px 0px 15px 0px rgba(1,78,151,1);
}
.figure-treballador h3{
    /* background-color: #FF9B2E; */
    width: 100%;
    padding:10px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color:#2D2D2D;
}
.figure-treballador p{
    height: 80px;
    width: 300px;
    font-size: 18px;
    color:#014e97;
    padding:10px 5px;
    text-align: center;
    background-color: #DBECFF;
    padding-bottom:20px;


}
/* .figure-treballador:hover{
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255,155,46,1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(255,155,46,1);
    box-shadow: 0px 0px 30px 10px rgba(255,155,46,1);
} */
.image-treballador{
    width: 150px;
    height: 150px;
    border-radius:50%;
    object-fit:cover;
    padding:2px;
    border:2px solid #014e97;

}
.div-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:35px;
}

.img-arrow-trabajadores{
    transform: rotateY(180deg);
}
.div-btn-container img{
    width: 200px;
    height: 75px;
}
.btn-conoce-team{
    height: 65px;
    width: 180px;
    font-size:15px;
    font-weight:bold;
    color:var(--primary-black);
    background-color: var(--pastel-green);
    border-radius: 15px;
    border: 1px solid #014e97;
    margin-top:50px;
}
.btn-conoce-team:hover{
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 30px 1px #014e97;
    -moz-box-shadow: 0px 0px 30px 1px #014e97;
    box-shadow: 0px 0px 30px 1px #014e97;
}

.custom-shape-divider-top-1706118037 {
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1706118037 svg {
    position: absolute;
    display: block;
    width: calc(150% + 1.3px);
    height: 95px;
}

.custom-shape-divider-top-1706118037 .shape-fill {
    fill: #F5F5F5;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1706118037 svg {
        width: calc(130% + 1.3px);
        height: 75px;
    }
}

@media screen and (width<1000px){
    .team-section{
        width: 100vw;
    }
    .div-tres-trabajadores{
        width: 95%;
    }



  }

  @media screen and (width<450px){
    .figure-treballador{
        width: 200px;
        height: 420px;
    }
    .figure-treballador-img{
        width: 120px;
        height: 150px;
    }
    .div-btn-container{
        flex-direction: column;
    }
    .btn-conoce-team{
        margin-top:0;
    }
  }