.team-section{
    min-height: 40vh;
    width: 80vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:55px;
    overflow: hidden;
    padding:30px 0;
}

/* .figure-treballador-second, .figure-treballador-last{
    opacity: 0.5;
} */

.div-tres-trabajadores{
    width: 80%;
    display:flex;
    gap:55px;
    padding:20px;
    overflow: scroll;
    background-image: url("https://res.cloudinary.com/dtfugozix/image/upload/v1702245497/Fem%20Cami/Imagenes/IMG-6610-2-1024x768_vgogqr.jpg");
}
.div-tres-trabajadores::-webkit-scrollbar:vertical{
    display:none;
}
.div-tres-trabajadores::-webkit-scrollbar-thumb {
    background-color: #FF9B2E;
    border-radius:15px;
    height: 5px;
}

.div-tres-trabajadores::-webkit-scrollbar {
    background-color: #014e97;
    border-radius: 15px;
    height: 10px;
}

.figure-treballador{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color: #5dbe34aa;
    border:3px solid #FF9B2E;
    padding:20px;
    border-radius:20px;
}
.figure-treballador h3{
    background-color: #FF9B2E;
    width: 100%;
    padding:10px;
    border-radius: 5px;
    text-align: center;
}
.figure-treballador p{
    background-color: #014e97;
    color:whitesmoke;
    padding:10px;
    border-radius: 5px;
    text-align: center;
}
.figure-treballador:hover{
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255,155,46,1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(255,155,46,1);
    box-shadow: 0px 0px 30px 10px rgba(255,155,46,1);
}
.image-treballador{
    width: 200px;
    height: 300px;
    border-radius:20px;
    object-fit: cover;
    border:2px solid #FF9B2E;
}
.div-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:35px;
}

.img-arrow-trabajadores{
    transform: rotateY(180deg);
}
.div-btn-container img{
    width: 200px;
    height: 75px;
}
.btn-conoce-team{
    height: 65px;
    width: 180px;
    font-size:15px;
    font-weight:bold;
    background-color: #5dbe34;
    border-radius: 15px;
    border: 1px solid #014e97;
    margin-top:50px;
}
.btn-conoce-team:hover{
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 30px 1px #014e97;
    -moz-box-shadow: 0px 0px 30px 1px #014e97;
    box-shadow: 0px 0px 30px 1px #014e97;
}

@media screen and (width<1000px){
    .team-section{
        width: 100vw;
    }
    .div-tres-trabajadores{
        width: 95%;
    }
    .figure-treballador{
        width: 200px;
        height: 450px;
    }
    .figure-treballador img{
        width: 150px;
        height: 200px;
    }

  }

  @media screen and (width<450px){
    .figure-treballador{
        width: 200px;
        height: 420px;
    }
    .figure-treballador-img{
        width: 120px;
        height: 150px;
    }
    .div-btn-container{
        flex-direction: column;
    }
    .btn-conoce-team{
        margin-top:0;
    }
  }