.section-all-cards{
    display: flex;
    height: 350px;
    width: 65vw;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-color: var(--primary-blue);
    border-radius: 5px;
    transition: all 1s ease-in-out;
}
.section-all-cards:nth-child(2n){
    flex-direction: row-reverse;
    .div-card-photo{
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}
.section-all-cards:hover{
    width: 90vw;
    .div-card-photo .imgBx img{
        top:0;
        left:15px;
    }
}
.section-all-cards:hover .imgBx{
    bottom:80px;
}
.div-card-photo{
    position:relative;
    width:320px;
    height:350px;
    background: var(--light-pastel-blue);
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.div-card-photo:before, .div-card-photo:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: var(--light-pastel-blue);
    transition:0.5s;
    z-index:-1;
}
.div-card-photo:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
}
.div-card-photo:hover:after{
    transform:rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
}
.div-card-photo .imgBx{
    position: absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background: var(--light-pastel-blue);
    transition: 0.5s;
    z-index: 1;
}
.div-card-photo:hover .imgBx{
    bottom:80px;
}
.div-card-photo .imgBx img{
    position:absolute;
    top:30px;
    left:0px;
    width:260px;
    height:260px;
    object-fit:fill;

}
.div-card-photo .details{
    position:absolute;
    left:10px;
    right:10px;
    bottom:10px;
    height:70px;
    text-align:center;
}
.div-card-photo .details h2{
    margin:0;
    padding:0;
    font-weight: 600;
    font-size: 20px;
    color:#777;
    text-transform: uppercase;
}
.div-card-photo .details span {
    font-weight:500;
    font-size:16px;
    color:var(--primary-black);
    display:block;
    margin-top: 5px;
}
.div-card-information{
    height: 200px;
    width: 80%;
    background-color: var(--light-pastel-blue);
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 5px 20px;

}
.h3-card-information-name{
    position:absolute;
    top:-25%;
    color:var(--primary-white);

}
.p-card-information-description{
    padding:10px 40px;

}
.p-card-information-centre-femcami{
    position:absolute;
    top:115%;
    color:var(--primary-white);
}
@media screen and (width<992px){
    .section-all-cards{
        height: 400px;
        width: 95vw;
    }
    .imgBx{
        bottom:80px !important;
    }
}
@media screen and (width<768px){
    .section-all-cards{
        height: 500px;

    }
    .div-card-information{
        height: 270px;
    }
}
@media screen and (width<601px){
    .section-all-cards{
        flex-direction: column;
        justify-content: space-between;
        padding:30px 0;
        gap:30px;
        height: 0;
        min-height: 800px;
    }
    .section-all-cards:nth-child(2n){
        flex-direction: column;
    }
    .div-card-photo{
        width: 300px;
        height: 300px;
    }
    .div-card-information{
        height: 300px;
        width: 90%;
        margin-bottom: 40px;
    }
    .quote:before{
        font-size: 12em;
        top:-50%;
        left:-30px;
    }
    .p-card-information-centre-femcami{
        top:108%;
    }
    .h3-card-information-name{
        top:-22%;
    }
}