.section-principal-page-description-acordeon{
    width: 90vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:50px;
}
.div-page-main-description{
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:35px;

}
.div-page-main-description h2{
    font-size: 55px;
    margin-right:1000px;
  
    

}
.div-page-main-description p{
    font-size: 25px;
    font-weight:200;
}
.div-page-main-description img{
    margin-left: 450px;
    height:300px;
    width: 400px;
    border-radius: 8px 8px 8px 8px;
}
@media (max-width: 700px){
    .div-page-main-description{
        align-items: center;
        width:300px;
    }
    .div-page-main-description h2{
        font-size: 15px;
        text-align: center;
    }


    .div-page-main-description p{
        font-size: 25px;
        font-weight:200;
        text-align: center;

    }
}