.section-title-description-page {
    display: flex;
    width: 100vw;
    min-height: 45vh;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    background-size: contain;
    background-attachment: scroll;
    background-position: 50%;
}

/* .title-page{
background: url(https://res.cloudinary.com/dtfugozix/image/upload/v1707246955/textura1_vovdtm.png) 0 0 / cover no-repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-shadow: 5px 5px var(--primary-green)
} */

.img-autisme {
    height: 400px;
    width: 380px;
    margin-left: 4rem;
}

.section-principal-page-description-acordeon {
    width: 90vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.div-page-main-description {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 35px;
}
.div-page-main-description p {
    font-size: 30px;
    font-weight: 300;
    text-align: left;
}
.div-page-main-description h2 {
    font-size: 55px;
}
.p-page-main-description {
    width: 55%;
    font-size: 20px;
    font-weight: 200;
    border-right: 1px solid var(--primary-black);
    padding-right: 30px;
}
.img-page-main-description {
    height: 350px;
    width: 300px;
    border-radius: 8px 8px 8px 8px;
}
.section-page-main-divider-images {
    width: 100vw;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
    background-color: var(--primary-white);
}
.div-divider-images {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}
.section-principal-page-more-info {
    width: 90vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
}
.div-principal-page-more-info {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.div-principal-page-more-info h2 {
    font-size: 60px;
    font-family: "Shadows Into Light", cursive;
    color: var(--primary-blue);
}

.title-autisme {
    text-shadow:
        -1px -1px 0 var(--primary-white),
        1px -1px 0 var(--primary-white),
        -1px 1px 0 var(--primary-white),
        1px 1px 0 var(--primary-white);
}

.div-board-autismo {
    display: flex;
    flex-wrap: wrap;
}
.div-page-main-quees {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    width: 100vw;
    justify-content: center;
}
.div-align-img-p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    height: 400px;
    width: 50%;
}
.div-align-img-p p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;

    flex: 1;
    left: 30px;
    z-index: 1;
    background: rgba(245, 245, 245, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(245, 245, 245, 0.28);
}

.img-back-p {
    position: absolute;
    height: 400px;
    width: 300px;
    top: -20;
}

.div-page-main-quees img {
    height: 500px;
    width: 550px;
}

.div-page-main-postit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-all-groups {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 60%;
    min-height: 100%;
    border-right: 2px solid var(--primary-blue);
    padding: 50px;
    z-index: 1;
    /* From https://css.glass */
    background: rgba(245, 245, 245, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(245, 245, 245, 0.28);
}

.div-all-groups p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
}
.img-sections {
    height: 300px;
    width: 418px;
    position: absolute;
    bottom: 2px;
    z-index: -1;
}


@media (max-width: 700px) {
    .section-title-description-page {
        min-height: 47vh;
        width: 667px;
        padding-top: 132px;
    }

    .img-back-p {
        position: absolute;
        min-height: 300px;
        width: 300px;
        top: -20;
    }
    .div-page-main-description {
        align-items: center;
        width: 300px;
        flex-direction: column;
    }

    .div-page-main-description img {
        height: 300px;
        width: 300px;
        border-radius: 8px;
    }
    .div-page-main-description h2 {
        width: 80vw;
        font-size: 45px;
        text-align: center;
    }

    .div-page-main-description p {
        width: 80vw;
        font-size: 25px;
        font-weight: 200;
    }
}
