.div-general-contacte{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-contacte-general-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    height: 500px;
    border:1px solid red;
    background-color: var(--light-pastel-green);
    background-image: url("https://res.cloudinary.com/dtfugozix/image/upload/v1706141199/Fem%20Cami/iconos%20y%20vectores%20Divi%20Page/Tutoring-Service_Footer_rlargr.png");

    align-items: center;
    justify-content: center;

}

.div-contacte-adress h1{
  font-size: 45px;
  font-weight: 800;
}

.div-contacte-adress p{
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}

.logo-social-contacte{
  width: 50px;
  height: 50px;
  margin: 20px;
}
.logo-social-contacte:hover{
  background-color:var(--light-pastel-green);
  border-radius: 50%;
  padding:5px;
}


.section-contacte-ubication-map{
    position:relative;
    width: 60vw;
    height: 500px;
    border:1px solid blue;
   

}
.section-contacte-formulario{
    width: 80vw;
    height: 700px;
    border: 1px solid black;
}

/* SECTION MAPA */


   .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 500px;
    background: #1F8DE4;
    perspective: 1000px;
    perspective-origin: left;
  }
   .center #flipped {
    display: none;
  }
   .center .land {
    fill: #2196F3;
    height: 30px;
  }
  .center .landmark-symbol {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: rotateY(0deg);
    opacity: 1;
    transform-style: preserve-3d;
    transition: transform 0.25s linear 0.4s, opacity 0.25s linear 0.4s;
  }
    .center .landmark-symbol .landmark {
    width: 3rem;
    height: 6rem;
    position: relative;
    top: 0;
    animation: landmark-move 1s linear infinite alternate;
  }
  @keyframes landmark-move {
    0% {
      top: 0;
    }
    100% {
      top: -0.4rem;
    }
  }
   .center .landmark-symbol .landmark path {
    fill: #FFCC30;
  }
   .center .landmark-symbol .landmark circle {
    fill: #2196F3;
  }
   .center .landmark-symbol .shadow {
    width: 1.2rem;
    height: 0.3rem;
    background: #197fd0;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 28%;
    transform-origin: 50% 50%;
    animation: shadow-sizing 1s linear infinite alternate;
  }
  @keyframes shadow-sizing {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  .center .landmark-details {
    background: #fff;
    width: 62%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 19%;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    transform: rotateY(-90deg);
    opacity: 0;
    transform-style: preserve-3d;
    transition: transform 0.25s linear, opacity 0.25s linear;
    animation: unhide 0.25s linear forwards;
  }
  @keyframes unhide {
    0%, 99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
    .center .landmark-details img {
    width: 100%;
  }
    .center .landmark-details .address {
    cursor: auto;
  }
    .center .landmark-details .address p {
    font-size: 0.8rem;
  }
    .center .landmark-details .btn-group {
    display: flex;
    margin-bottom: 0.5rem;
  }
    .center .landmark-details .btn-group a {
    background: #fff;
    color: #2196F3;
    outline: none;
    border: none;
    font-size: 0.8rem;
    width: 50%;
    height: 1.3rem;
    cursor: pointer;
  }
    .center .landmark-details .btn-group a:first-child {
    border-right: 1px solid #6ab8f7;
  }
    .center #flipped:checked ~ .landmark-symbol {
    transform: rotateY(90deg);
    opacity: 0;
    transition: transform 0.25s linear, opacity 0.25s linear;
  }
    .center #flipped:checked ~ .landmark-details {
    transform: rotateY(0deg);
    opacity: 1;
    transition: transform 0.25s linear 0.4s, opacity 0.25s linear 0.4s;
  }

  /* FIN SECTION MAPA */


  @media (max-width: 700px){

  .section-contacte-general-info h1,p{
  background-color: var(--light-pastel-green);
  }
  .logo-social-contacte{
  background-color: var(--light-pastel-green);
  }

  }