.div-general-contacte{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-contacte-general-info{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 600px;
    background-color: var(--pastel-orange);
    align-items: center;
    justify-content: space-around;
    position:relative;
    gap:3rem;
}
.section-contacte-img-flower{
width: 500px;
height: 400px;
position:absolute;
right:0;
bottom:20%;
opacity: 0.7;
}
.contacte-img-invert{
  transform:rotate(180deg);
  left:0;
  top:0;
}
.section-contacte-h1{
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}
.section-contacte-div-general-info{
  width: 75vw;
  min-height: 50px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left:25vw;
}
.section-contacte-div-general-info h3{
  font-size: 24px;
  font-weight: 600;
  margin-left:0;
}
.section-contacte-div-general-info p{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-left: 15vh;
}
.div-contacte-social{
  display: flex;
  justify-content: space-between;
  gap:10px;
  height: 120px;
  width: 500px;
  margin-bottom: 20px;
}
.div-contacte-social-wrapper{
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding:15px;
}
.logo-social-contacte{
  width: 50px;
  height: 50px;
}
.div-contacte-social-wrapper:hover{

  background-color: var(--light-pastel-orange);
  border-radius: 10px;
  
}
.p-contacte-social-display{
display:block;
}
.p-contacte-social-display{
  display:none;
  text-align: center;
}

.section-contacte-ubication-map{
  display: flex;
  align-items: center;
  justify-content: center;
    position:relative;
    width: 60vw;
    height: 500px;

   

}
.section-contacte-formulario{
  display:flex;
  justify-content: space-evenly;
    width: 100vw;
    min-height: 300px;
}
.div-contact-message-form{
  width: 40vw;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:30px;
}
.div-contact-message-form p{
  font-size: 24px;
  font-weight: 300;
}

.h2-contact-message-form{
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
	background: linear-gradient(to right, var(--primary-blue) 20%,var(--pastel-blue)  55%);
  background-clip: inherit;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-shadow: 5px 2px 20px #ff9b1922;
}
.img-contact-message-form{
  width: 60%;
  height: 320px;
}
/* SECTION MAPA */


   .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 500px;
    background: #1F8DE4;
    perspective: 1000px;
    perspective-origin: left;
  }
   .center #flipped {
    display: none;
  }
   .center .land {
    fill: #2196F3;
    height: 30px;
  }
  .center .landmark-symbol {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: rotateY(0deg);
    opacity: 1;
    transform-style: preserve-3d;
    transition: transform 0.25s linear 0.4s, opacity 0.25s linear 0.4s;
  }
    .center .landmark-symbol .landmark {
    width: 3rem;
    height: 6rem;
    position: relative;
    top: 0;
    animation: landmark-move 1s linear infinite alternate;
  }
  @keyframes landmark-move {
    0% {
      top: 0;
    }
    100% {
      top: -0.4rem;
    }
  }
   .center .landmark-symbol .landmark path {
    fill: #FFCC30;
  }
   .center .landmark-symbol .landmark circle {
    fill: #2196F3;
  }
   .center .landmark-symbol .shadow {
    width: 1.2rem;
    height: 0.3rem;
    background: #197fd0;
    border-radius: 50%;
    position: absolute;
    bottom: 3%;
    left: 28%;
    transform-origin: 50% 50%;
    animation: shadow-sizing 1s linear infinite alternate;
  }
  @keyframes shadow-sizing {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  .center .landmark-details {
    background: #fff;
    width: 62%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 19%;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    transform: rotateY(-90deg);
    opacity: 0;
    transform-style: preserve-3d;
    transition: transform 0.25s linear, opacity 0.25s linear;
    animation: unhide 0.25s linear forwards;
  }
  @keyframes unhide {
    0%, 99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
    .center .landmark-details img {
    width: 100%;
  }
    .center .landmark-details .address {
    cursor: auto;
  }
    .center .landmark-details .address p {
    font-size: 0.8rem;
  }
    .center .landmark-details .btn-group {
    display: flex;
    margin-bottom: 0.5rem;
  }
    .center .landmark-details .btn-group a {
    background: #fff;
    color: #2196F3;
    outline: none;
    border: none;
    font-size: 0.8rem;
    width: 50%;
    height: 1.3rem;
    cursor: pointer;
  }
    .center .landmark-details .btn-group a:first-child {
    border-right: 1px solid #6ab8f7;
  }
    .center #flipped:checked ~ .landmark-symbol {
    transform: rotateY(90deg);
    opacity: 0;
    transition: transform 0.25s linear, opacity 0.25s linear;
  }
    .center #flipped:checked ~ .landmark-details {
    transform: rotateY(0deg);
    opacity: 1;
    transition: transform 0.25s linear 0.4s, opacity 0.25s linear 0.4s;
  }

  /* FIN SECTION MAPA */

  @media screen and (width<992px){
    .section-contacte-img-flower{
      width: 400px;
      height: 300px;
      bottom:30%;
    }
    .section-contacte-formulario{
      flex-direction: column;
      align-items: center;
    }
    .div-contact-message-form{
      width: 100%;
      align-items: center;
      p{
        text-align: center;
      }
      .h2-contact-message-form{
        text-align: center;
      }
      .img-contact-message-form{
        width: 70%;
      }
    }
    .div-contact-form-wrapper{
      width: 80vw;
    }
    .main-form-contacte{
      width: 80vw;
    }

  }
  @media screen and (width<870px){
    .section-contacte-img-flower{
      width: 350px;
      height: 250px;
      bottom:40%;
    }
  }
  @media screen and (width<768px){
    .logo-social-contacte{
      background-color: var(--light-pastel-green);
      }
      .section-contacte-img-flower{
        position:relative;
      }
      .section-contacte-h1{
        text-align: center;
      }
      .label-form-column{
        width: 350px;
      }
      .section-contacte-ubication-map{
        width: 90vw;
      }
      .img-contact-message-form{
        width: 40%;
        max-height:250px;
      }
  }
  @media screen and (width<601px){
    .label-form-column{
      width: 350px;
    }
    .section-contacte-div-general-info{
      width: 100vw;
    }
    .div-contacte-social{
      width: 90vw;
    }
    .img-contact-message-form{
      width: 40%;
      max-height:220px;
    }
  }