main {
    min-height:80vh;
    width:100%;
    background-color:whitesmoke;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.div-Home-general{
    width: 80vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    margin:25px 0;
}

.p-title-home-serveis, .p-title-home-equip, .p-title-home-autisme{
    height: 50px;
    min-width: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding:10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:whitesmoke;
}
.p-title-home-autisme{
    background-color: #014e97;
}
.p-title-home-serveis{
    background-color: #00BF18 ;
}
.p-title-home-equip{
    background-color: #FF9C19;
}
.title-home-serveis div{
    background-color: #00BF18;
}
.title-home-equip div{
    background-color: #FF9C19;
}
.title-home-autisme div{
    background-color: #014e97;
}
.div-title-home{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-title-home div{
    width: 90vw;
    height: 2px;

}
/* .logoFemCami{
    width: 90vw;
    height: 35vh;
    margin-bottom: 35px;
} */
