.div-all-divider-eslogan{
    height: 10px;
    display: flex;
    align-items: flex-end;
}
.divider-Eslogan {
    height: 3px;
    width: 80px;
    background-color: var(--primary-lima);
    box-shadow: inset 30px 0px 0px 0px var(--primary-lima);
}
.p-divider-eslogan{
    width: 60px;
    text-align: center;
    
    height: 12px;
    font-weight: 800;
    background-color: var(--primary-lima);

    
}
/* .divider-Eslogan::after {
    position:inline;
    content: "femCamí";
    background-color: #c6ff29;
    color: var(--primaryBlack);
    font-size: 12px;
}
 */