.description-section{
    width: 100vw;
    min-height: 25vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    background-color:#399cf9;
    padding:15px;
    border-radius:15px;
}
.div-general-newDescription{
    min-height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:25px;
}
.div-info-newDescription{
    width: 40%;
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:30px;
    padding:0 20px;
}
.div-image-newDescription{
    width: 50%;
}
.div-image-newDescription img{
    width: 100%;
    height: 600px;
}
.img-description-more-info{
    border-radius:50%;
    height: 50px;
    width: 50px;
    -webkit-box-shadow: 3px 3px 5px 2px #dddddd;
    -moz-box-shadow: 3px 3px 5px 2px #dddddd;
    box-shadow: 3px 3px 5px 2px #dddddd;

}
.img-description-more-info:hover{
    background-color: #e1e1e1;
    box-shadow: none;
}
.btn-mes-info{
    width: 150px;
    height: 55px;
    border: 3px solid #014e97;
    background-color: #5EBE34;
    border-radius: 5px;
}
.btn-mes-info:hover{
    transform: scale(1.1);
}

.mes-info-section{
    background-color: #306faa;
    width: 75vw;
    min-height: 25vh;
    display: flex;
    padding:50px 200px;
    flex-direction: column;
    
    gap:30px;
}

.imgDescription{
    height: 300px;
    width: 80vw;
    position:absolute;
 
}

.div-background-img{
    height:350px;
    width: 90vw;
    position: relative;
    background-image: url("https://res.cloudinary.com/dtfugozix/image/upload/v1702160450/Fem%20Cami/manosFoto_afggng.png");
    opacity: 0.4;
}

@media screen and (width<1000px){
    .div-general-newDescription{
      width: 100%;
      flex-direction: column;
    }
    .div-general-newDescription div{
      width: 100%;
    }
    .div-image-newDescription img{
      width: 100%;
      object-fit: contain;
    }
}
@media screen and (width<700px){
    .div-image-newDescription img{
      object-fit: cover;
    }
  }