.description-section{
    width: 75vw;
    min-height: 25vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    background-color:#399cf9;
    padding:15px;
}

.btn-mes-info{
    width: 150px;
    height: 55px;
    border: 3px solid #014e97;
    background-color: #5EBE34;
    border-radius: 5px;
}
.btn-mes-info:hover{
    transform: scale(1.1);
}

.mes-info-section{
    background-color: #306faa;
    width: 75vw;
    min-height: 25vh;
    display: flex;
    padding:50px 200px;
    flex-direction: column;
    
    gap:30px;
}

.imgDescription{
    height: 300px;
    position:absolute;
 
}

.div-background-img{
    height:300px;
    z-index:-1;
    position: relative;
    background-image: url("https://res.cloudinary.com/dtfugozix/image/upload/v1702118118/Fem%20Cami/Imagenes/portadaprova_mz64oj.png");
    opacity: 0.5;
}