header {
    height:15vh;
    width: 100vw; 
    color: whitesmoke;
/*     background-color:var(--primary-blue);
    border-bottom:5px solid var(--pastel-blue); */
    /* background: rgb(0,76,159);  */
    background: linear-gradient(180deg, rgba(0,76,159,1) 10%, rgba(112,180,255,1) 100%);
    position:fixed;
    top:0%;
    z-index:12;
}

/* .div-anchor-tittle{
  display: flex;
  flex-direction: column;
}
.div-anchor-tittle:hover .div-subrayado{
  height: 2px;
  background-color: whitesmoke;
  transition: 0.2s ease-in-out;
} */
.logoHeader{
  height:80px;
}

.menu-nav {
  height: 100%;
  width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 10px;
    z-index:1;
  }
  
  .menu-nav-ul{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index:1;
    
  }

 .menu-nav-main-li{
    list-style: none;
    position: relative;
    padding-left: 15px;
  }

  .menu-nav-main-li a{
    text-decoration: none;
    color:whitesmoke;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:1.5rem;
  }

  .menu-li-hidden{
    list-style: none;
    min-height: 40px;
    padding: 2.5px 5px;
  }
  .menu-li-hidden a{
    height: 100%;
    font-size: 1rem;
    padding:10px;
    text-decoration: none;
    color:whitesmoke;
    display: block;
  }
  .menu-li-hidden:hover{
    background-color: #0167c7;
  }
 /* .submenu-ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    /* padding: 0;
    margin-top:0; */
  
    
  .submenu-ul{
    display: none;
    position: absolute;
    padding-top:10px;
    background-color:#014e97;
    border-radius: 4px;
  }
  
  .menu-nav-ul li:hover > ul {
    width: 250px;
    height: auto;
    padding-top:35px;
    display: block;
    opacity: 1;
  }
  .submenu-ul:hover{
    display:block;
    opacity: 1
  }
  
/* .menu-quisom ul li,
.menu-serveis ul li,
.menu-assesorament ul li,
.menu-collaboradors ul li {
    display: block;
    margin: 10px 0;
  } 
 */

/* @media screen and (width<1000px){
  header{
      display:none
  }
} */

@media screen and (width<850px){
  .menu-nav{
    display:none;
  }
}