.background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1em;
    width: 100vw;
    min-height: 25vh;

}

.title-pages-blue{
  flex-wrap: wrap;
  font-size: 110px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-weight:100;
  color:var(--primary-blue);
  text-shadow: -1px -1px 0 var(--primary-white),  
  1px -1px 0 var(--primary-white),
 -1px  1px 0 var(--primary-white),
  1px  1px 0 var(--primary-white); 
}
.background-circles{
  background: #dbecff;
  background-image: linear-gradient(45deg, #b8daff, transparent 90%),
  radial-gradient(#70b4ff 68%, transparent 5%);
  background-size: 2em 2em;
}

.background-linear{
  background-image: repeating-linear-gradient(
    -45deg,
    #b8daff 0,
    transparent 30px,
    #70b4ff 30px,
    transparent 60px,
    #b8daff 120px,
    transparent 240px
  );
  background-color: #b8daff;
}
@media screen and (width<992px){
    
}
@media screen and (width<768px){
  .title-pages-blue{
    font-size: 160px;
    text-align: center;
    width: 100vw;
    min-height: 15vh;
}
    
}
@media screen and (width<601px){
.title-pages-blue{
    font-size: 100px;
    text-align: center;
    width: 100vw;
    min-height: 5vh;
}
}