footer {
    height: 50vh;
    width: 100%;
    background-color:#82bd44;
    display: flex;  
}

.logo-social{
    height:60px;
}


.div-footer-menu{
    height:50vh;
    width: 100%;
    display:flex;
    flex-direction:column;
}

.div-menu-footer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
}

.div-menu-footer h4{
    color:black;
    font-size: 1.5rem;    
}

.footer-menu-ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.footer-menu-li{
    display:flex;
}

.footer-menu-li a{
    text-decoration: none;
    color:black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:1.5rem;
    margin:2px;
    padding: 4px;
  
}
.footer-menu-li a:hover{
   color:whitesmoke;
   background-color: black;
}

.div-general-footer{
    height: 35vh;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   border:1px solid black;
}

.div-general2-footer{
    height: 15vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    border:1px solid black;
}
.div-social-footer{
    width:50vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.logo-social:hover{
    background-color:whitesmoke;
    
}
.div-contact-footer{
    display:flex;
    width: 50vw;
    justify-content: center;
    margin-bottom: 1rem;
}

.div-contact-footer h4{
   font-size: 22px;
}
