footer {
    min-height: 50vh;
    width: 100%;
    background-color:var(--primary-green);
    display: flex;  
    position:relative;
}

.div-class-wave{
height:100px;
width:100vw;
position: absolute;
top:-50%;
}
.custom-shape-divider-top-1708371836 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.logo-social{
    height:60px;
}

.div-wave-component{
    position:relative;
    height: 300px;
    width: 100vw;
}
.div-footer-menu{
    min-height:50vh;
    width: 100%;
    display:flex;
    flex-direction:column;
}

.div-menu-footer{
    display: flex;
    min-height: 100%;
    width: 100%;
    padding:20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap:10px;
    border:1px solid var(--primary-black);
}

.div-menu-footer h4{
    color:var(--primary-black);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;    
}

.footer-menu-ul{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.footer-menu-li{
    display:flex;
}

.footer-menu-li a{
    text-decoration: none;
    color:var(--primary-black);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    margin:4px;
    padding: 4px;
  
}
.footer-menu-li a:hover{
   color:var(--primary-white);
   background-color: var(--primary-black);
}

.div-general-footer{
    min-height: 35vh;
    display: flex;
    text-align: center;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   border:1px solid var(--primary-black);
}

.div-general2-footer{
    min-height: 15vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    border:1px solid black;
}
.div-social-footer{
    width:35vw;
    display: flex;
    justify-content: space-evenly;
    
}
.logo-social{
    width: 50px;
    height: 50px;
}
.logo-social:hover{
    background-color:var(--primary-green);
    border-radius: 50%;
    padding:5px;
    
}
.div-contact-footer{
    display:flex;
    width: 50vw;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;
}

.div-contact-footer h4{
   font-size: 18px;
}


@media screen and (width<600px){
    .div-general-footer{
        flex-direction: column;
    }
    .div-menu-footer{
        min-height: 0;
        
    }
    .logo-social{
        width: 40px;
        height: 40px;
        margin:10px;
    }
    .logo-social:hover{
        background-color:var(--primary-green);
        border-radius: 50%;
        padding:5px;
        
    }


}