.div-previous-next{
height:50px;
width: 250px;
display: flex;
align-items: center;
justify-content: center;
gap:35px
}



.btn-previous, .btn-next{

height:50px;
width: 50px;
background-color:var(--light-pastel-blue);
border:none;
border-radius: 50%;

}
.btn-previous svg .btn-next svg{
    width: 100%;
    height: 100%;
}

.btn-previous:hover, .btn-next:hover{
    transform: scale(1.1);
}



@media (max-width: 700px){
.div-previous-next img{
    height:180px;
    width:350px;   

    

}


}