.div-previous-next{
position: relative;
height:300px;
width: 100%;
}

.div-previous-next img{
height: 468px;
width:100vw;
object-fit:cover;

}

.btn-previous{
position:relative;
top:50%;
left:10px;
z-index: 1;
}
.btn-next{
position:absolute;
top:50%;
right:10px;
z-index: 1;
}
.btn-previous-slider{
height:50px;
 width: 15px;
background-color:var(--primary-white);
}
.btn-next-slider{
height:50px;
width: 15px;
background-color:var(--primary-white);

}


@media (max-width: 700px){
.div-previous-next img{
    height:180px;
    width:350px;   

    

}


}