.div-previous-next{
position: relative;
height:300px;
width: 100%;
}

.div-previous-next img{
height: 300px;
width:100%;
object-fit:cover;
}

.btn-previous{
position:relative;
top:50%;
left:10px;
z-index: 1;
}
.btn-next{
position:absolute;
top:50%;
right:10px;
z-index: 1;
}

/* style={{ position: 'absolute', top: '50%', right: '10px', zIndex: '1' }} */


