#root{
    color:var(--primary-black);
}
main {
    min-height:80vh;
    width:100%;
    background-color:whitesmoke;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:15vh;
}