/*
************  UNSPLASH CREDITS  *********

jessbaileydesigns: https://unsplash.com/es/@jessbaileydesigns?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash 
PICTURE: https://unsplash.com/es/fotos/lapiz-de-color-alineado-sobre-una-superficie-blanca-l3N9Q27zULw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash 


 
*/
:root{
    --primary-blue:#004C9F;
    --pastel-blue:#70B4FF;
    --light-pastel-blue: #D8DAFF;
    --primary-orange:#FF9C19;
    --pastel-orange:#FFD7A3;
    --light-pastel-orange: #FFEBD1;
    --primary-green:#00BF18;
    --pastel-green:#80FF90;
    --light-pastel-green: #BDFFC5;
    --primary-black: #2D2D2D;
    --primary-white: #F5F5F5;
    --primary-lima: #C6FF29;

    font-family: 'Poppins', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{  
    box-sizing: border-box;
    margin:0;
    padding:0;
}   

a{
    text-decoration: none;
}
li{
    list-style: none;
}